@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}
}

@font-face {
	font-family: Ubuntu;
	src: url(../assets/fonts/Ubuntu-Light.ttf);
	font-weight: 300;
}
@font-face {
	font-family: Ubuntu;
	src: url(../assets/fonts/Ubuntu-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: Ubuntu;
	src: url(../assets/fonts/Ubuntu-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: Ubuntu;
	src: url(../assets/fonts/Ubuntu-Bold.ttf);
	font-weight: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Ubuntu;
}

